@{
    ViewBag.Title = "Nguyen Phong Tan";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Nguyen Phong Tan - NoCopyright</h3>

    <address>
        K22CNT3 - Lap trinh Web ASP.NET MVCS
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:chungtrinh@gmail.com">chungtrinh@gmail.com</a>
        <strong>Marketing:</strong>   <a href="mailto:nguyenphongtan2004@gmail.com">nguyenphongtan2004@gmail.com</a><br />
    </address>
</main>